@font-face {
    font-family: 'PT Astra Sans';
    src: local('PT Astra Sans'), local('PTAstraSans-Regular'), url('../fonts/subset-PTAstraSans-Regular.woff2') format('woff2'), url('../fonts/subset-PTAstraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PT Astra Sans';
    src: local('PT Astra Sans Bold'), local('PTAstraSans-Bold'), url('../fonts/subset-PTAstraSans-Bold.woff2') format('woff2'), url('../fonts/subset-PTAstraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Extra';
    src: local('Circe Extra Bold'), local('Circe-ExtraBold'), url('subset-Circe-ExtraBold.woff2') format('woff2'), url('subset-Circe-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
    font-family: 'PT Astra Sans', sans-serif;
}
@media only screen and (min-width: 320px) {
    .content {
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-scroll-behavior: smooth;
        scroll-behavior: smooth;
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-points-y: repeat(100%);
        -ms-scroll-snap-points-y: repeat(100%);
        scroll-snap-points-y: repeat(100%);
    }
    .slide {
        height: 100vh;
        position: relative;
    }
    .slide_main {
        width: 120vw;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        position: relative;
        left: -10vw;
    }
    .text-content {
        min-width: 90%;
        margin-left: 5%;
        margin-right: 5%;
        position: absolute;
        top: 15vh;
        left: 0;
        bottom: 0;
        right: 0;
        overflow-x: scroll;
        -webkit-scroll-behavior: smooth;
        scroll-behavior: smooth;
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-points-x: repeat(100%);
        -ms-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    }
    .text-content__wrapper {
        height: 80vh;
        display: inline-block;
        column-width: 100vw;
    }
    .logo {
        height: 34vh;
        position: absolute;
        z-index: 1;
    }
    .date-place {
        width: 120vw;
        height: 15.8vh;
        padding-left: 80vw;
        transform: rotate(-15.5deg);
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        top: 4vh;
        font-size: 4vh;
        background-color: #fed91c;
    }
    .date-place__wrapper {
        width: 100vw;
        position: absolute;
        bottom: -13vh;
        left: 5vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .slide__title {
        padding-top: 5vh;
        margin-bottom: 5vh;
        font-size: 5vh;
        text-align: center;
    }
    .slide__title-more {
        display: none;
    }
    .slide__title-swipe::after {
        content: "→";
        position: relative;
        top: 0.2vh;
    }
    .slide__subtitle {
        margin-top: 2.5vh;
        margin-bottom: 1.5vh;
        display: inline-block;
        font-size: 6vh;
    }
    .slide__paragraph {
        font-size: 4vh;
        line-height: 1.3;
    }
    .speakers {
        display: flex;
        overflow-x: auto;
        -webkit-scroll-behavior: smooth;
        scroll-behavior: smooth;
        -webkit-scroll-snap-type: mandatory;
        -ms-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-points-x: repeat(100%);
        -ms-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    }
    .speakers__item {
        height: 85vh;
        margin-right: 10%;
        margin-left: 10%;
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 80%;
        text-align: center;
    }
    .speakers__img-wrapper {
        margin-top: 10vh;
        margin-bottom: 3vh;
        background: linear-gradient(-15.5deg, #ffffff 33%,#fed91c 33%,#fed91c 66%,#ffffff 66%);
    }
    .speakers__img {
        min-width: 75%;
        max-width: 75%;
        border-radius: 50%;
        position: relative;
    }
    .speakers__name {
        font-size: 5vh;
    }
    .speakers__job {
        font-size: 4vh;
    }
}
@media only screen and (min-width : 768px) {
    .logo {
        height: 40vh;
    }
    .date-place {
        height: 18.6vh;
        top: 4.7vh;
        font-size: 5vh;
    }
    .date-place__wrapper {
        bottom: -16vh;
    }
}
@media only screen and (min-width : 1200px) {
    .slide__title-more {
        display: inline;
    }
    .slide__title-swipe::after {
        display: none;
    }
    .speakers {
        height: 85vh;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .speakers__item {
        height: auto;
        margin: 0;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: 28%;
        background: transparent;
    }
    .speakers__img-wrapper {
        margin-top: 0;
    }
    .speakers__img {
        min-width: 75%;
        max-width: 75%;
        border-radius: 50%;
        position: relative;
    }
    .speakers__name {
        font-size: 3vh;
    }
    .speakers__job {
        font-size: 2vh;
    }
    .text-content {
        overflow-x: auto;
    }
    .slide__subtitle {
        margin-top: 2.5vh;
        margin-bottom: 1.5vh;
        display: inline-block;
        font-size: 3vh;
    }
    .slide__paragraph {
        font-size: 2.5vh;
        line-height: 1.3;
    }
}
@media only screen and (min-width: 1440px) {
    .date-place {
        font-size: 4.7vh;
    }
    .date-place__wrapper {
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: left;
    }
    .slide_speakers {
        width: 60vw;
        margin: 0 auto;
    }

}
