.delimiter {
  max-width: 2410px;
  height: 90px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: block;
  background-image: url("../img/pattern-css-minsk-js.svg"), url("../img/pattern-shape.svg");
  background-repeat: no-repeat;
  background-position: 0 0, 680px 0;
  background-size: 698px 90px, auto 90px;

  @include tablet {
    height: 90px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-position: 0 0, 680px 0;
    background-size: 698px 90px, auto 90px;
  }
}
